<mat-toolbar
  color="primary">
    <mat-toolbar-row
      class="l-container">
      <a
        class="repo-link"
        href="https://gitlab.com/georgef105/json-viewer">
        <img
          class="gitlab-icon"
          src="/assets/gitlab-icon.svg">
      </a>
      <span>Json Viewer</span>
      <span
        class="header__spacer">
      </span>
    <app-file-uploader></app-file-uploader>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate">
</mat-progress-bar>