<div
  *ngIf="breadcrumbs$ | async as breadcrumbs"
  class="l-container">
  <span
    *ngFor="let breadcrumb of breadcrumbs; last as isLast">
    <a
      mat-button
      class="tree-view__breadcrumb-button"
      [routerLink]="breadcrumb.path">
      {{ breadcrumb.displayName }}
    </a>
    <span
      *ngIf="!isLast">
      /
    </span>
  </span>
</div>
<mat-tree
  [dataSource]="dataSource$ | async"
  [treeControl]="treeControl"
  class="tree-view l-container">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li
      class="mat-tree-node tree-view__leaf">
      {{ node.key }} - {{ node.value }}
    </li>
  </mat-tree-node>
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div
        class="mat-tree-node">
        <button
          mat-icon-button
          matTreeNodeToggle>
          <mat-icon
            class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <a
          mat-button
          [routerLink]="node.path"
          queryParamHandling="merge">
          {{ node.key }}
        </a>
      </div>
      <ul
        *ngIf="treeControl.isExpanded(node)"
        [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
