.tree-view ul,
.tree-view li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.tree-view__leaf {
  margin-left: 4rem;
}

.tree-view__breadcrumb-button {
  min-width: 30px;
  padding-left: 8px;
  padding-right: 8px;
}