<nav>
  <div
    class="l-container search-header__input-box">
    <mat-form-field>
        <input
          [formControl]="searchInputControl"
          matInput
          type="text"
          placeholder="Search">
          <mat-hint>Includes</mat-hint>
      </mat-form-field>
      <mat-form-field
        class="search-header__search-depth">
        <mat-select
          [formControl]="depthControl">
          <mat-option
            *ngFor="let depth of depthRange"
            [value]="depth">
            {{ depth }}
          </mat-option>
        </mat-select>
        <mat-hint>Depth</mat-hint>
      </mat-form-field>
  </div>
</nav>
